#carouselExampleIndicators {
    background-color: red;
}

.carousel-inner img {
    max-width: 100%;
    height: auto;
    display: block;
}

.carousel-caption {
    box-shadow: 5px;
    color: white;
    padding: 10px;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    text-align: center;
    font-size: 50px;
    text-shadow: 2px 2px 0 black;
    position: absolute;
}

.titular {

    padding-top: 20px;
    text-align: center;
    background-color: #B22222;
    color: white;
}


.titular2 {
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: center;
    background-color: #053EA3;
    color: white;
}

.thumbnail {
    display: flex;
    align-items: center;
}

